In [4]:
import psycopg2  
import pprint
import pandas as pd

In [5]:
# on your computer you are the user postgres (full administrative access)
db_user = 'postgres'
# if you need a password to access a database, put it here
db_password = ''
# on your computer, use localhost
db_host = 'localhost'
# the default port for postgres is 5432
db_port = 5432
# we want to connect to the northwind database
database = 'postgres'

conn_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{database}'
conn = psycopg2.connect(conn_str)

In [6]:
def sql(query, con=conn):
    df = pd.read_sql(query, con=conn)
    return df

In [7]:
query = """ SELECT * 
FROM match
WHERE date >'2000/01/01'
"""


all_matches = sql(query)

In [8]:
query = """ SELECT * 
FROM player
"""


all_playas = sql(query)

In [9]:
query = """ SELECT * 
FROM player_season_surface_stats
"""


players_stats = sql(query)

In [10]:
query = """ SELECT * 
FROM player_season_stats
"""


players_stats_season = sql(query)

In [11]:
players_stats_season.to_csv('player_season_stats.csv',index=False)

In [12]:
query = """ SELECT *
FROM tournament_event
"""
tournament_event2 =  sql(query)

In [13]:
# Baseline Model - selecting highest ranked player
baseline = len(all_matches[all_matches['winner_rank']<all_matches['loser_rank']])/len(all_matches)
print("Baseline Selection is {:.3f}%".format(baseline))

Baseline Selection is 0.647%

In [14]:
all_matches.columns

Index(['match_id', 'tournament_event_id', 'match_num', 'date', 'surface',
       'indoor', 'round', 'best_of', 'winner_id', 'winner_country_id',
       'winner_seed', 'winner_entry', 'winner_rank', 'winner_rank_points',
       'winner_elo_rating', 'winner_next_elo_rating', 'winner_age',
       'winner_height', 'loser_id', 'loser_country_id', 'loser_seed',
       'loser_entry', 'loser_rank', 'loser_rank_points', 'loser_elo_rating',
       'loser_next_elo_rating', 'loser_age', 'loser_height', 'score',
       'outcome', 'w_sets', 'l_sets', 'w_games', 'l_games', 'w_tbs', 'l_tbs',
       'has_stats'],
      dtype='object')

In [15]:
all_playas.columns

Index(['player_id', 'first_name', 'last_name', 'dob', 'dod', 'country_id',
       'birthplace', 'residence', 'height', 'weight', 'hand', 'backhand',
       'active', 'turned_pro', 'coach', 'prize_money', 'wikipedia', 'web_site',
       'facebook', 'twitter', 'nicknames'],
      dtype='object')

In [16]:
players_stats.columns

Index(['player_id', 'season', 'surface', 'p_matches', 'o_matches', 'p_sets',
       'o_sets', 'p_games', 'o_games', 'p_tbs', 'o_tbs', 'p_ace', 'p_df',
       'p_sv_pt', 'p_1st_in', 'p_1st_won', 'p_2nd_won', 'p_sv_gms', 'p_bp_sv',
       'p_bp_fc', 'o_ace', 'o_df', 'o_sv_pt', 'o_1st_in', 'o_1st_won',
       'o_2nd_won', 'o_sv_gms', 'o_bp_sv', 'o_bp_fc', 'minutes',
       'matches_w_stats', 'sets_w_stats', 'games_w_stats', 'opponent_rank',
       'opponent_elo_rating', 'p_upsets', 'o_upsets', 'matches_w_rank'],
      dtype='object')

In [17]:
tournament_event2.columns

Index(['tournament_event_id', 'tournament_id', 'original_tournament_id',
       'season', 'date', 'name', 'city', 'level', 'surface', 'indoor',
       'draw_type', 'draw_size', 'rank_points', 'map_properties'],
      dtype='object')

In [18]:
# for all data create
# matches filtered
matches_filtered = all_matches.copy()
# matches_filtered.drop(['w_sets', 'l_sets', 'w_games', 'l_games', 'w_tbs', 'l_tbs'],axis=1,inplace=True)
matches_filtered['p1_combination'] = matches_filtered['winner_id'].astype(str)+"_"+matches_filtered['loser_id'].astype(str)
matches_filtered['p2_combination'] = matches_filtered['loser_id'].astype(str)+"_"+matches_filtered['winner_id'].astype(str)
# dropping all matches not finished
df_drop = matches_filtered.dropna(subset=['outcome'])
matches_filtered = matches_filtered.drop(df_drop.index)
# player1 details
player1_deets = all_playas.copy()
player1_deets.drop(['country_id','birthplace', 'residence', 'height','wikipedia', 'web_site','facebook', 'twitter'],axis=1,inplace=True)
player1_deets=player1_deets.add_prefix('p1_')
# player2 details
player2_deets = all_playas.copy()
player2_deets.drop(['country_id','birthplace', 'residence', 'height','wikipedia', 'web_site','facebook', 'twitter'],axis=1,inplace=True)
player2_deets=player2_deets.add_prefix('p2_')
# player1 stats
player1_stats = players_stats.copy()
player1_stats.drop(['sets_w_stats', 'games_w_stats'],axis=1,inplace=True)
player1_stats=player1_stats.add_prefix('p1_')
# player2 stats
player2_stats = players_stats.copy()
player2_stats.drop(['sets_w_stats', 'games_w_stats'],axis=1,inplace=True)
player2_stats=player2_stats.add_prefix('p2_')
# player1 tournament wins and player2
query = """ SELECT * 
FROM player_season_performance
"""
player1_perf = sql(query)
player2_perf = player1_perf.copy()
player1_perf=player1_perf.add_prefix('p1_')
player2_perf=player2_perf.add_prefix('p2_')
# tournament classification
query = """ SELECT tournament_event_id, t.tournament_id, season, t.name, t.city,t.level,country_id
FROM tournament_event t
INNER JOIN tournament t2
ON t.tournament_id = t2.tournament_id
"""
tournament_event =  sql(query)

# match stats
query = """ SELECT * 
FROM match_stats
"""
match_stats = sql(query)

In [19]:
player1_stats.columns

Index(['p1_player_id', 'p1_season', 'p1_surface', 'p1_p_matches',
       'p1_o_matches', 'p1_p_sets', 'p1_o_sets', 'p1_p_games', 'p1_o_games',
       'p1_p_tbs', 'p1_o_tbs', 'p1_p_ace', 'p1_p_df', 'p1_p_sv_pt',
       'p1_p_1st_in', 'p1_p_1st_won', 'p1_p_2nd_won', 'p1_p_sv_gms',
       'p1_p_bp_sv', 'p1_p_bp_fc', 'p1_o_ace', 'p1_o_df', 'p1_o_sv_pt',
       'p1_o_1st_in', 'p1_o_1st_won', 'p1_o_2nd_won', 'p1_o_sv_gms',
       'p1_o_bp_sv', 'p1_o_bp_fc', 'p1_minutes', 'p1_matches_w_stats',
       'p1_opponent_rank', 'p1_opponent_elo_rating', 'p1_p_upsets',
       'p1_o_upsets', 'p1_matches_w_rank'],
      dtype='object')

In [20]:
player1_perf

,p1_player_id,p1_season,p1_matches_won,p1_matches_lost,p1_grand_slam_matches_won,p1_grand_slam_matches_lost,p1_tour_finals_matches_won,p1_tour_finals_matches_lost,p1_alt_finals_matches_won,p1_alt_finals_matches_lost,...,p1_vs_top10_won,p1_vs_top10_lost,p1_after_winning_first_set_won,p1_after_winning_first_set_lost,p1_after_losing_first_set_won,p1_after_losing_first_set_lost,p1_tie_breaks_won,p1_tie_breaks_lost,p1_deciding_set_tbs_won,p1_deciding_set_tbs_lost
0,1,1968,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,NaN,NaN,0.0,0.0,NaN,NaN
1,1,1977,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,NaN,NaN
2,2,1968,2,2,1.0,1.0,NaN,NaN,NaN,NaN,...,0.0,2.0,2.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN
3,2,1969,2,5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,2.0,0.0,0.0,5.0,0.0,0.0,NaN,NaN
4,2,1970,1,4,1.0,1.0,NaN,NaN,NaN,NaN,...,0.0,3.0,1.0,1.0,0.0,3.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26338,53992,1969,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,NaN,NaN,0.0,1.0,0.0,0.0,NaN,NaN
26339,53994,1970,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,NaN,NaN
26340,53995,1971,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,NaN,NaN
26341,53995,1978,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,NaN,NaN
26342,53996,1971,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,NaN,NaN,0.0,1.0,0.0,0.0,NaN,NaN

In [21]:
# join all the data

# add player deets
all_data = matches_filtered.join(player1_deets.set_index('p1_player_id'), on='winner_id')
all_data = all_data.join(player2_deets.set_index('p2_player_id'), on='loser_id')
# add in tournament information
all_data = all_data.join(tournament_event.set_index('tournament_event_id'),on='tournament_event_id')
all_data["last_season"] = all_data.season -1

# add in previous season stats for each surface
all_data = pd.merge(all_data, player1_stats, how='left', left_on=['winner_id','surface','last_season'], right_on = ['p1_player_id','p1_surface','p1_season'])
all_data = pd.merge(all_data, player2_stats, how='left', left_on=['loser_id','surface','last_season'], right_on = ['p2_player_id','p2_surface','p2_season'])

# add in the past tournament specific wins per season
all_data = pd.merge(all_data, player1_perf, how='left', left_on=['winner_id','last_season'], right_on = ['p1_player_id','p1_season'])
all_data = pd.merge(all_data, player2_perf, how='left', left_on=['loser_id','last_season'], right_on = ['p2_player_id','p2_season'])

# add in all previous season stats



# add in all previous tournament wins

In [22]:
for col in all_data:
    print((col,all_data[col][10]))

('match_id', 110786)
('tournament_event_id', 2704)
('match_num', 26)
('date', datetime.date(2000, 2, 21))
('surface', 'C')
('indoor', False)
('round', 'QF')
('best_of', 3)
('winner_id', 2905)
('winner_country_id', 'AUT')
('winner_seed', 4.0)
('winner_entry', None)
('winner_rank', 38.0)
('winner_rank_points', 882.0)
('winner_elo_rating', 1938.0)
('winner_next_elo_rating', 1946.0)
('winner_age', 23.13)
('winner_height', 175.0)
('loser_id', 3292)
('loser_country_id', 'ARG')
('loser_seed', nan)
('loser_entry', None)
('loser_rank', 65.0)
('loser_rank_points', 627.0)
('loser_elo_rating', 1849.0)
('loser_next_elo_rating', 1839.0)
('loser_age', 21.2)
('loser_height', 175.0)
('score', '7-6(5) 6-4')
('outcome', None)
('w_sets', 2.0)
('l_sets', 0.0)
('w_games', 12.0)
('l_games', 10.0)
('w_tbs', 1.0)
('l_tbs', 0.0)
('has_stats', True)
('p1_combination', '2905_3292')
('p2_combination', '3292_2905')
('p1_first_name', 'Stefan')
('p1_last_name', 'Koubek')
('p1_dob', datetime.date(1977, 1, 2))
('p1_dod', None)
('p1_weight', nan)
('p1_hand', 'L')
('p1_backhand', '2')
('p1_active', False)
('p1_turned_pro', 1994.0)
('p1_coach', None)
('p1_prize_money', '$3,074,920')
('p1_nicknames', None)
('p2_first_name', 'Gaston')
('p2_last_name', 'Gaudio')
('p2_dob', datetime.date(1978, 12, 9))
('p2_dod', None)
('p2_weight', nan)
('p2_hand', 'R')
('p2_backhand', '1')
('p2_active', False)
('p2_turned_pro', 1996.0)
('p2_coach', None)
('p2_prize_money', '$6,066,156')
('p2_nicknames', None)
('tournament_id', 200)
('season', 2000)
('name', 'Mexico City')
('city', None)
('level', 'A')
('country_id', None)
('last_season', 1999)
('p1_player_id_x', 2905.0)
('p1_season_x', 1999.0)
('p1_surface', 'C')
('p1_p_matches', 28.0)
('p1_o_matches', 14.0)
('p1_p_sets', 65.0)
('p1_o_sets', 38.0)
('p1_p_games', 536.0)
('p1_o_games', 463.0)
('p1_p_tbs', 9.0)
('p1_o_tbs', 5.0)
('p1_p_ace', 88.0)
('p1_p_df', 89.0)
('p1_p_sv_pt', 2714.0)
('p1_p_1st_in', 1588.0)
('p1_p_1st_won', 1068.0)
('p1_p_2nd_won', 605.0)
('p1_p_sv_gms', 422.0)
('p1_p_bp_sv', 178.0)
('p1_p_bp_fc', 283.0)
('p1_o_ace', 61.0)
('p1_o_df', 111.0)
('p1_o_sv_pt', 2716.0)
('p1_o_1st_in', 1537.0)
('p1_o_1st_won', 987.0)
('p1_o_2nd_won', 584.0)
('p1_o_sv_gms', 409.0)
('p1_o_bp_sv', 174.0)
('p1_o_bp_fc', 307.0)
('p1_minutes', 3327.0)
('p1_matches_w_stats', 37.0)
('p1_opponent_rank', 173.4802041315468)
('p1_opponent_elo_rating', 80000.0)
('p1_p_upsets', 9.0)
('p1_o_upsets', 4.0)
('p1_matches_w_rank', 42.0)
('p2_player_id_x', 3292.0)
('p2_season_x', 1999.0)
('p2_surface', 'C')
('p2_p_matches', 8.0)
('p2_o_matches', 12.0)
('p2_p_sets', 18.0)
('p2_o_sets', 29.0)
('p2_p_games', 211.0)
('p2_o_games', 228.0)
('p2_p_tbs', 2.0)
('p2_o_tbs', 5.0)
('p2_p_ace', 32.0)
('p2_p_df', 58.0)
('p2_p_sv_pt', 1425.0)
('p2_p_1st_in', 857.0)
('p2_p_1st_won', 515.0)
('p2_p_2nd_won', 280.0)
('p2_p_sv_gms', 209.0)
('p2_p_bp_sv', 100.0)
('p2_p_bp_fc', 178.0)
('p2_o_ace', 82.0)
('p2_o_df', 66.0)
('p2_o_sv_pt', 1334.0)
('p2_o_1st_in', 767.0)
('p2_o_1st_won', 526.0)
('p2_o_2nd_won', 251.0)
('p2_o_sv_gms', 205.0)
('p2_o_bp_sv', 102.0)
('p2_o_bp_fc', 166.0)
('p2_minutes', 1685.0)
('p2_matches_w_stats', 19.0)
('p2_opponent_rank', 77.78768102209956)
('p2_opponent_elo_rating', 37926.0)
('p2_p_upsets', 5.0)
('p2_o_upsets', 4.0)
('p2_matches_w_rank', 20.0)
('p1_player_id_y', 2905.0)
('p1_season_y', 1999.0)
('p1_matches_won', 32.0)
('p1_matches_lost', 26.0)
('p1_grand_slam_matches_won', 3.0)
('p1_grand_slam_matches_lost', 4.0)
('p1_tour_finals_matches_won', nan)
('p1_tour_finals_matches_lost', nan)
('p1_alt_finals_matches_won', nan)
('p1_alt_finals_matches_lost', nan)
('p1_masters_matches_won', 1.0)
('p1_masters_matches_lost', 1.0)
('p1_olympics_matches_won', nan)
('p1_olympics_matches_lost', nan)
('p1_atp500_matches_won', 6.0)
('p1_atp500_matches_lost', 4.0)
('p1_atp250_matches_won', 19.0)
('p1_atp250_matches_lost', 16.0)
('p1_davis_cup_matches_won', 3.0)
('p1_davis_cup_matches_lost', 1.0)
('p1_team_cups_matches_won', nan)
('p1_team_cups_matches_lost', nan)
('p1_best_of_3_matches_won', 26.0)
('p1_best_of_3_matches_lost', 21.0)
('p1_best_of_5_matches_won', 6.0)
('p1_best_of_5_matches_lost', 5.0)
('p1_hard_matches_won', 2.0)
('p1_hard_matches_lost', 7.0)
('p1_clay_matches_won', 28.0)
('p1_clay_matches_lost', 14.0)
('p1_grass_matches_won', 0.0)
('p1_grass_matches_lost', 1.0)
('p1_carpet_matches_won', 2.0)
('p1_carpet_matches_lost', 4.0)
('p1_outdoor_matches_won', 28.0)
('p1_outdoor_matches_lost', 18.0)
('p1_indoor_matches_won', 4.0)
('p1_indoor_matches_lost', 8.0)
('p1_deciding_sets_won', 6.0)
('p1_deciding_sets_lost', 5.0)
('p1_fifth_sets_won', 1.0)
('p1_fifth_sets_lost', 0.0)
('p1_finals_won', 1.0)
('p1_finals_lost', 1.0)
('p1_vs_no1_won', nan)
('p1_vs_no1_lost', nan)
('p1_vs_top5_won', nan)
('p1_vs_top5_lost', nan)
('p1_vs_top10_won', 0.0)
('p1_vs_top10_lost', 4.0)
('p1_after_winning_first_set_won', 29.0)
('p1_after_winning_first_set_lost', 6.0)
('p1_after_losing_first_set_won', 3.0)
('p1_after_losing_first_set_lost', 20.0)
('p1_tie_breaks_won', 9.0)
('p1_tie_breaks_lost', 7.0)
('p1_deciding_set_tbs_won', 1.0)
('p1_deciding_set_tbs_lost', 1.0)
('p2_player_id_y', 3292.0)
('p2_season_y', 1999.0)
('p2_matches_won', 8.0)
('p2_matches_lost', 15.0)
('p2_grand_slam_matches_won', 2.0)
('p2_grand_slam_matches_lost', 3.0)
('p2_tour_finals_matches_won', nan)
('p2_tour_finals_matches_lost', nan)
('p2_alt_finals_matches_won', nan)
('p2_alt_finals_matches_lost', nan)
('p2_masters_matches_won', 1.0)
('p2_masters_matches_lost', 1.0)
('p2_olympics_matches_won', nan)
('p2_olympics_matches_lost', nan)
('p2_atp500_matches_won', 1.0)
('p2_atp500_matches_lost', 2.0)
('p2_atp250_matches_won', 4.0)
('p2_atp250_matches_lost', 9.0)
('p2_davis_cup_matches_won', nan)
('p2_davis_cup_matches_lost', nan)
('p2_team_cups_matches_won', nan)
('p2_team_cups_matches_lost', nan)
('p2_best_of_3_matches_won', 6.0)
('p2_best_of_3_matches_lost', 12.0)
('p2_best_of_5_matches_won', 2.0)
('p2_best_of_5_matches_lost', 3.0)
('p2_hard_matches_won', 0.0)
('p2_hard_matches_lost', 2.0)
('p2_clay_matches_won', 8.0)
('p2_clay_matches_lost', 12.0)
('p2_grass_matches_won', 0.0)
('p2_grass_matches_lost', 1.0)
('p2_carpet_matches_won', nan)
('p2_carpet_matches_lost', nan)
('p2_outdoor_matches_won', 8.0)
('p2_outdoor_matches_lost', 15.0)
('p2_indoor_matches_won', nan)
('p2_indoor_matches_lost', nan)
('p2_deciding_sets_won', 2.0)
('p2_deciding_sets_lost', 4.0)
('p2_fifth_sets_won', 1.0)
('p2_fifth_sets_lost', 1.0)
('p2_finals_won', nan)
('p2_finals_lost', nan)
('p2_vs_no1_won', nan)
('p2_vs_no1_lost', nan)
('p2_vs_top5_won', 0.0)
('p2_vs_top5_lost', 1.0)
('p2_vs_top10_won', 0.0)
('p2_vs_top10_lost', 2.0)
('p2_after_winning_first_set_won', 6.0)
('p2_after_winning_first_set_lost', 2.0)
('p2_after_losing_first_set_won', 2.0)
('p2_after_losing_first_set_lost', 13.0)
('p2_tie_breaks_won', 2.0)
('p2_tie_breaks_lost', 5.0)
('p2_deciding_set_tbs_won', nan)
('p2_deciding_set_tbs_lost', nan)

In [23]:
# player1_stats_all = pd.DataFrame(player1_stats[(player1_stats['p1_player_id']==2)&(player1_stats['p1_season']<1969)&(player1_stats['p1_surface']=='H')].sum()).T

In [24]:
# # creating a new dataframe with a players stats before that date

# player1_stats_all = pd.DataFrame(columns=player1_stats.columns)

# for ind in player1_stats.index:
#         player1_stats_all = player1_stats_all.append(pd.DataFrame(player1_stats[(player1_stats['p1_player_id']==player1_stats['p1_player_id'].iloc[ind]) \
#                                                                  &(player1_stats['p1_season']<player1_stats['p1_season'].iloc[ind]) \
#                                                                  &(player1_stats['p1_surface']==player1_stats['p1_surface'].iloc[ind])].sum()).T)
#         player1_stats_all['p1_player_id'].iloc[ind] = player1_stats['p1_player_id'].iloc[ind]
#         player1_stats_all['p1_season'].iloc[ind] = player1_stats['p1_season'].iloc[ind]
#         player1_stats_all['p1_surface'].iloc[ind] = player1_stats['p1_surface'].iloc[ind]
#         if ind % 1000 == 0:
#             print("done -",ind)
# player1_stats_all = player1_stats_all.add_suffix('_all')

In [25]:
player1_stats_all = pd.read_csv("p_stats_for_all_previous_seasons.csv")

In [26]:
player1_stats_all

,p1_player_id_all,p1_season_all,p1_surface_all,p1_p_matches_all,p1_o_matches_all,p1_p_sets_all,p1_o_sets_all,p1_p_games_all,p1_o_games_all,p1_p_tbs_all,...,p1_o_sv_gms_all,p1_o_bp_sv_all,p1_o_bp_fc_all,p1_minutes_all,p1_matches_w_stats_all,p1_opponent_rank_all,p1_opponent_elo_rating_all,p1_p_upsets_all,p1_o_upsets_all,p1_matches_w_rank_all
0,1.0,1968.0,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,1.0,1977.0,C,0.0,1.0,1.0,2.0,14.0,16.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.313220,1500.0,0.0,0.0,0.0
2,2.0,1968.0,H,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,2.0,1968.0,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,2.0,1969.0,H,1.0,1.0,3.0,2.0,23.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.392662,3618.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52498,53992.0,1969.0,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
52499,53994.0,1970.0,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
52500,53995.0,1971.0,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
52501,53995.0,1978.0,H,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
52502,53996.0,1971.0,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [27]:
# player1_stats_all.to_csv("p_stats_for_all_previous_seasons.csv" , index = False)

In [28]:
# create p2 from p1
player2_stats_all = player1_stats_all.copy()

player2_stats_all.columns = ['p2_player_id', 'p2_season', 'p2_surface', 'p2_p_matches',
       'p2_o_matches', 'p2_p_sets', 'p2_o_sets', 'p2_p_games', 'p2_o_games',
       'p2_p_tbs', 'p2_o_tbs', 'p2_p_ace', 'p2_p_df', 'p2_p_sv_pt',
       'p2_p_1st_in', 'p2_p_1st_won', 'p2_p_2nd_won', 'p2_p_sv_gms',
       'p2_p_bp_sv', 'p2_p_bp_fc', 'p2_o_ace', 'p2_o_df', 'p2_o_sv_pt',
       'p2_o_1st_in', 'p2_o_1st_won', 'p2_o_2nd_won', 'p2_o_sv_gms',
       'p2_o_bp_sv', 'p2_o_bp_fc', 'p2_minutes', 'p2_matches_w_stats',
       'p2_opponent_rank', 'p2_opponent_elo_rating', 'p2_p_upsets',
       'p2_o_upsets', 'p2_matches_w_rank']

player2_stats_all = player2_stats_all.add_suffix('_all')
# player1_stats_all = player1_stats_all.add_suffix('_all')

In [29]:
all_data[['winner_id','season','surface']].dtypes

winner_id     int64
season        int64
surface      object
dtype: object

In [30]:
player1_stats_all[['p1_surface_all']]

      p1_surface_all
0                  C
1                  C
2                  H
3                  G
4                  H
...              ...
52498              G
52499              G
52500              C
52501              H
52502              C

[52503 rows x 1 columns]

In [31]:
len(all_data)

59454

In [32]:
# join this into the all data!

all_data = pd.merge(all_data, player1_stats_all, how='left', left_on=['winner_id','season','surface'], right_on = ['p1_player_id_all','p1_season_all','p1_surface_all'])
all_data = pd.merge(all_data, player2_stats_all, how='left', left_on=['loser_id','season','surface'], right_on = ['p2_player_id_all','p2_season_all','p2_surface_all'])

In [33]:
len(all_data)

59454

In [34]:
win_ratio_season_df = pd.read_csv('win_ratio_template.csv')

In [35]:
# loop through and find rivalries for all seasons

for season in all_data.season.unique():
    win_ratio = pd.DataFrame(all_data['p1_combination'][all_data['season']==season].value_counts())
    lose_ratio = pd.DataFrame(all_data['p2_combination'][all_data['season']==season].value_counts())
    win_ratio = win_ratio.join(lose_ratio,how='outer')
    win_ratio.fillna(0, inplace=True)
    win_ratio['p1_pct_overall'] = win_ratio['p1_combination']/(win_ratio['p1_combination']+win_ratio['p2_combination'])
    win_ratio['p2_pct_overall'] = win_ratio['p2_combination']/(win_ratio['p1_combination']+win_ratio['p2_combination'])
    win_ratio['match_win_diff'] = win_ratio['p1_combination']-win_ratio['p2_combination']
    win_ratio['rivalry_total'] = win_ratio['p1_combination']+win_ratio['p2_combination']
    win_ratio.rename(columns={'p1_combination':'p1_beat_p2_overall','p2_combination':'p2_beat_p1_overall'},inplace=True)
    win_ratio['season_w_ratio'] = season
    win_ratio_season_df = pd.concat([win_ratio_season_df,win_ratio],sort=False)
all_data = pd.merge(all_data, win_ratio_season_df, how='left', left_on=['p1_combination','last_season'], right_on=[win_ratio_season_df.index,'season_w_ratio'])

In [36]:
# loop through and find rivalries for all previous seasons

win_ratio_season_df = pd.read_csv('win_ratio_template.csv')
for season in all_data.season.unique():
    win_ratio = pd.DataFrame(all_data['p1_combination'][all_data['season']<=season].value_counts())
    lose_ratio = pd.DataFrame(all_data['p2_combination'][all_data['season']<=season].value_counts())
    win_ratio = win_ratio.join(lose_ratio,how='outer')
    win_ratio.fillna(0,inplace=True)
    win_ratio['p1_pct_overall'] = win_ratio['p1_combination']/(win_ratio['p1_combination']+win_ratio['p2_combination'])
    win_ratio['p2_pct_overall'] = win_ratio['p2_combination']/(win_ratio['p1_combination']+win_ratio['p2_combination'])
    win_ratio['match_win_diff'] = win_ratio['p1_combination']-win_ratio['p2_combination']
    win_ratio['rivalry_total'] = win_ratio['p1_combination']+win_ratio['p2_combination']
    win_ratio.rename(columns={'p1_combination':'p1_beat_p2_overall','p2_combination':'p2_beat_p1_overall'},inplace=True)
    win_ratio['season_w_ratio'] = season
    win_ratio_season_df = pd.concat([win_ratio_season_df,win_ratio],sort=False)
win_ratio_season_df_all=win_ratio_season_df.add_suffix('_all')
all_data = pd.merge(all_data, win_ratio_season_df_all, how='left', left_on=['p1_combination','last_season'], right_on=[win_ratio_season_df.index,'season_w_ratio_all'])

In [38]:
all_data

,match_id,tournament_event_id,match_num,date,surface,indoor,round,best_of,winner_id,winner_country_id,...,match_win_diff,rivalry_total,season_w_ratio,p1_beat_p2_overall_all,p2_beat_p1_overall_all,p1_pct_overall_all,p2_pct_overall_all,match_win_diff_all,rivalry_total_all,season_w_ratio_all
0,110583,2698,25,2000-02-07,H,False,QF,3,3017,GER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110584,2698,26,2000-02-07,H,False,QF,3,2610,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110585,2698,27,2000-02-07,H,False,QF,3,3507,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110586,2698,28,2000-02-07,H,False,QF,3,2223,MAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110587,2698,29,2000-02-07,H,False,SF,3,3017,GER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59449,174488,4176,82,2020-01-03,H,False,SF,3,4742,ESP,...,1.0,1.0,2019,2.0,0.0,1.000000,0.000000,2.0,2.0,2019
59450,174489,4176,83,2020-01-03,H,False,SF,3,5571,SRB,...,NaN,NaN,NaN,2.0,0.0,1.000000,0.000000,2.0,2.0,2019
59451,174490,4176,84,2020-01-03,H,False,SF,3,4920,SRB,...,-1.0,3.0,2019,2.0,2.0,0.500000,0.500000,0.0,4.0,2019
59452,174491,4176,85,2020-01-03,H,False,F,3,5131,ESP,...,NaN,NaN,NaN,3.0,0.0,1.000000,0.000000,3.0,3.0,2019
59453,174492,4176,86,2020-01-03,H,False,F,3,4920,SRB,...,0.0,2.0,2019,28.0,24.0,0.538462,0.461538,4.0,52.0,2019

In [39]:
all_data.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59454 entries, 0 to 59453
Data columns (total 344 columns):
match_id                           59454 non-null int64
tournament_event_id                59454 non-null int64
match_num                          59454 non-null int64
date                               59454 non-null object
surface                            59268 non-null object
indoor                             59454 non-null bool
round                              59454 non-null object
best_of                            59454 non-null int64
winner_id                          59454 non-null int64
winner_country_id                  59454 non-null object
winner_seed                        24783 non-null float64
winner_entry                       7058 non-null object
winner_rank                        59152 non-null float64
winner_rank_points                 59152 non-null float64
winner_elo_rating                  59454 non-null float64
winner_next_elo_rating             59454 non-null float64
winner_age                         59441 non-null float64
winner_height                      54316 non-null float64
loser_id                           59454 non-null int64
loser_country_id                   59454 non-null object
loser_seed                         13267 non-null float64
loser_entry                        11925 non-null object
loser_rank                         58532 non-null float64
loser_rank_points                  58532 non-null float64
loser_elo_rating                   59454 non-null float64
loser_next_elo_rating              59454 non-null float64
loser_age                          59423 non-null float64
loser_height                       51440 non-null float64
score                              59453 non-null object
outcome                            0 non-null object
w_sets                             59453 non-null float64
l_sets                             59453 non-null float64
w_games                            59453 non-null float64
l_games                            59453 non-null float64
w_tbs                              59453 non-null float64
l_tbs                              59453 non-null float64
has_stats                          59454 non-null bool
p1_combination                     59454 non-null object
p2_combination                     59454 non-null object
p1_first_name                      59454 non-null object
p1_last_name                       59454 non-null object
p1_dob                             59441 non-null object
p1_dod                             109 non-null object
p1_weight                          12332 non-null float64
p1_hand                            59168 non-null object
p1_backhand                        57142 non-null object
p1_active                          59454 non-null bool
p1_turned_pro                      57241 non-null float64
p1_coach                           12752 non-null object
p1_prize_money                     58245 non-null object
p1_nicknames                       10665 non-null object
p2_first_name                      59454 non-null object
p2_last_name                       59454 non-null object
p2_dob                             59423 non-null object
p2_dod                             119 non-null object
p2_weight                          5735 non-null float64
p2_hand                            58621 non-null object
p2_backhand                        54907 non-null object
p2_active                          59454 non-null bool
p2_turned_pro                      55000 non-null float64
p2_coach                           5803 non-null object
p2_prize_money                     56746 non-null object
p2_nicknames                       4351 non-null object
tournament_id                      59454 non-null int64
season                             59454 non-null int64
name                               59454 non-null object
city                               0 non-null object
level                              59454 non-null object
country_id                         0 non-null object
last_season                        59454 non-null object
p1_player_id_x                     54461 non-null float64
p1_season_x                        54461 non-null float64
p1_surface                         54461 non-null object
p1_p_matches                       54461 non-null float64
p1_o_matches                       54461 non-null float64
p1_p_sets                          54461 non-null float64
p1_o_sets                          54461 non-null float64
p1_p_games                         54461 non-null float64
p1_o_games                         54461 non-null float64
p1_p_tbs                           54461 non-null float64
p1_o_tbs                           54461 non-null float64
p1_p_ace                           53149 non-null float64
p1_p_df                            53149 non-null float64
p1_p_sv_pt                         53149 non-null float64
p1_p_1st_in                        53149 non-null float64
p1_p_1st_won                       53149 non-null float64
p1_p_2nd_won                       53149 non-null float64
p1_p_sv_gms                        53149 non-null float64
p1_p_bp_sv                         53149 non-null float64
p1_p_bp_fc                         53149 non-null float64
p1_o_ace                           53149 non-null float64
p1_o_df                            53149 non-null float64
p1_o_sv_pt                         53149 non-null float64
p1_o_1st_in                        53149 non-null float64
p1_o_1st_won                       53149 non-null float64
p1_o_2nd_won                       53149 non-null float64
p1_o_sv_gms                        53149 non-null float64
p1_o_bp_sv                         53149 non-null float64
p1_o_bp_fc                         53149 non-null float64
p1_minutes                         52798 non-null float64
p1_matches_w_stats                 53149 non-null float64
p1_opponent_rank                   54461 non-null float64
p1_opponent_elo_rating             54461 non-null float64
p1_p_upsets                        54461 non-null float64
p1_o_upsets                        54461 non-null float64
p1_matches_w_rank                  54461 non-null float64
p2_player_id_x                     50547 non-null float64
p2_season_x                        50547 non-null float64
p2_surface                         50547 non-null object
p2_p_matches                       50547 non-null float64
p2_o_matches                       50547 non-null float64
p2_p_sets                          50547 non-null float64
p2_o_sets                          50547 non-null float64
p2_p_games                         50547 non-null float64
p2_o_games                         50547 non-null float64
p2_p_tbs                           50547 non-null float64
p2_o_tbs                           50547 non-null float64
p2_p_ace                           48952 non-null float64
p2_p_df                            48952 non-null float64
p2_p_sv_pt                         48952 non-null float64
p2_p_1st_in                        48952 non-null float64
p2_p_1st_won                       48952 non-null float64
p2_p_2nd_won                       48952 non-null float64
p2_p_sv_gms                        48952 non-null float64
p2_p_bp_sv                         48952 non-null float64
p2_p_bp_fc                         48952 non-null float64
p2_o_ace                           48952 non-null float64
p2_o_df                            48952 non-null float64
p2_o_sv_pt                         48952 non-null float64
p2_o_1st_in                        48952 non-null float64
p2_o_1st_won                       48952 non-null float64
p2_o_2nd_won                       48952 non-null float64
p2_o_sv_gms                        48952 non-null float64
p2_o_bp_sv                         48952 non-null float64
p2_o_bp_fc                         48952 non-null float64
p2_minutes                         48569 non-null float64
p2_matches_w_stats                 48952 non-null float64
p2_opponent_rank                   50547 non-null float64
p2_opponent_elo_rating             50547 non-null float64
p2_p_upsets                        50547 non-null float64
p2_o_upsets                        50547 non-null float64
p2_matches_w_rank                  50547 non-null float64
p1_player_id_y                     57241 non-null float64
p1_season_y                        57241 non-null float64
p1_matches_won                     57241 non-null float64
p1_matches_lost                    57241 non-null float64
p1_grand_slam_matches_won          51609 non-null float64
p1_grand_slam_matches_lost         51609 non-null float64
p1_tour_finals_matches_won         7611 non-null float64
p1_tour_finals_matches_lost        7611 non-null float64
p1_alt_finals_matches_won          424 non-null float64
p1_alt_finals_matches_lost         424 non-null float64
p1_masters_matches_won             47043 non-null float64
p1_masters_matches_lost            47043 non-null float64
p1_olympics_matches_won            6934 non-null float64
p1_olympics_matches_lost           6934 non-null float64
p1_atp500_matches_won              49039 non-null float64
p1_atp500_matches_lost             49039 non-null float64
p1_atp250_matches_won              54282 non-null float64
p1_atp250_matches_lost             54282 non-null float64
p1_davis_cup_matches_won           36101 non-null float64
p1_davis_cup_matches_lost          36101 non-null float64
p1_team_cups_matches_won           5549 non-null float64
p1_team_cups_matches_lost          5549 non-null float64
p1_best_of_3_matches_won           56266 non-null float64
p1_best_of_3_matches_lost          56266 non-null float64
p1_best_of_5_matches_won           54216 non-null float64
p1_best_of_5_matches_lost          54216 non-null float64
p1_hard_matches_won                54986 non-null float64
p1_hard_matches_lost               54986 non-null float64
p1_clay_matches_won                52559 non-null float64
p1_clay_matches_lost               52559 non-null float64
p1_grass_matches_won               46285 non-null float64
p1_grass_matches_lost              46285 non-null float64
p1_carpet_matches_won              20652 non-null float64
p1_carpet_matches_lost             20652 non-null float64
p1_outdoor_matches_won             56841 non-null float64
p1_outdoor_matches_lost            56841 non-null float64
p1_indoor_matches_won              49546 non-null float64
p1_indoor_matches_lost             49546 non-null float64
p1_deciding_sets_won               54541 non-null float64
p1_deciding_sets_lost              54541 non-null float64
p1_fifth_sets_won                  41981 non-null float64
p1_fifth_sets_lost                 41981 non-null float64
p1_finals_won                      32364 non-null float64
p1_finals_lost                     32364 non-null float64
p1_vs_no1_won                      23191 non-null float64
p1_vs_no1_lost                     23191 non-null float64
p1_vs_top5_won                     44438 non-null float64
p1_vs_top5_lost                    44438 non-null float64
p1_vs_top10_won                    49178 non-null float64
p1_vs_top10_lost                   49178 non-null float64
p1_after_winning_first_set_won     55439 non-null float64
p1_after_winning_first_set_lost    55439 non-null float64
p1_after_losing_first_set_won      56687 non-null float64
p1_after_losing_first_set_lost     56687 non-null float64
p1_tie_breaks_won                  57241 non-null float64
p1_tie_breaks_lost                 57241 non-null float64
p1_deciding_set_tbs_won            32549 non-null float64
p1_deciding_set_tbs_lost           30859 non-null float64
p2_player_id_y                     54922 non-null float64
p2_season_y                        54922 non-null float64
p2_matches_won                     54922 non-null float64
p2_matches_lost                    54922 non-null float64
p2_grand_slam_matches_won          46748 non-null float64
p2_grand_slam_matches_lost         46748 non-null float64
p2_tour_finals_matches_won         2652 non-null float64
p2_tour_finals_matches_lost        2652 non-null float64
p2_alt_finals_matches_won          268 non-null float64
p2_alt_finals_matches_lost         268 non-null float64
p2_masters_matches_won             39551 non-null float64
p2_masters_matches_lost            39551 non-null float64
p2_olympics_matches_won            5338 non-null float64
p2_olympics_matches_lost           5338 non-null float64
p2_atp500_matches_won              43767 non-null float64
p2_atp500_matches_lost             43767 non-null float64
p2_atp250_matches_won              51207 non-null float64
p2_atp250_matches_lost             51207 non-null float64
p2_davis_cup_matches_won           30666 non-null float64
p2_davis_cup_matches_lost          30666 non-null float64
p2_team_cups_matches_won           4083 non-null float64
p2_team_cups_matches_lost          4083 non-null float64
p2_best_of_3_matches_won           53614 non-null float64
p2_best_of_3_matches_lost          53614 non-null float64
p2_best_of_5_matches_won           50065 non-null float64
p2_best_of_5_matches_lost          50065 non-null float64
p2_hard_matches_won                51362 non-null float64
p2_hard_matches_lost               51362 non-null float64
p2_clay_matches_won                48157 non-null float64
p2_clay_matches_lost               48157 non-null float64
p2_grass_matches_won               40732 non-null float64
p2_grass_matches_lost              40732 non-null float64
p2_carpet_matches_won              17684 non-null float64
p2_carpet_matches_lost             17684 non-null float64
p2_outdoor_matches_won             54288 non-null float64
p2_outdoor_matches_lost            54288 non-null float64
p2_indoor_matches_won              44324 non-null float64
p2_indoor_matches_lost             44324 non-null float64
p2_deciding_sets_won               50744 non-null float64
p2_deciding_sets_lost              50744 non-null float64
p2_fifth_sets_won                  35171 non-null float64
p2_fifth_sets_lost                 35171 non-null float64
p2_finals_won                      22670 non-null float64
p2_finals_lost                     22670 non-null float64
p2_vs_no1_won                      16358 non-null float64
p2_vs_no1_lost                     16358 non-null float64
p2_vs_top5_won                     36664 non-null float64
p2_vs_top5_lost                    36664 non-null float64
p2_vs_top10_won                    42850 non-null float64
p2_vs_top10_lost                   42850 non-null float64
p2_after_winning_first_set_won     51802 non-null float64
p2_after_winning_first_set_lost    51802 non-null float64
p2_after_losing_first_set_won      54076 non-null float64
p2_after_losing_first_set_lost     54076 non-null float64
p2_tie_breaks_won                  54922 non-null float64
p2_tie_breaks_lost                 54922 non-null float64
p2_deciding_set_tbs_won            26179 non-null float64
p2_deciding_set_tbs_lost           25741 non-null float64
p1_player_id_all                   59454 non-null float64
p1_season_all                      59454 non-null float64
p1_surface_all                     59268 non-null object
p1_p_matches_all                   59454 non-null float64
p1_o_matches_all                   59454 non-null float64
p1_p_sets_all                      59454 non-null float64
p1_o_sets_all                      59454 non-null float64
p1_p_games_all                     59454 non-null float64
p1_o_games_all                     59454 non-null float64
p1_p_tbs_all                       59454 non-null float64
p1_o_tbs_all                       59454 non-null float64
p1_p_ace_all                       59454 non-null float64
p1_p_df_all                        59454 non-null float64
p1_p_sv_pt_all                     59454 non-null float64
p1_p_1st_in_all                    59454 non-null float64
p1_p_1st_won_all                   59454 non-null float64
p1_p_2nd_won_all                   59454 non-null float64
p1_p_sv_gms_all                    59454 non-null float64
p1_p_bp_sv_all                     59454 non-null float64
p1_p_bp_fc_all                     59454 non-null float64
p1_o_ace_all                       59454 non-null float64
p1_o_df_all                        59454 non-null float64
p1_o_sv_pt_all                     59454 non-null float64
p1_o_1st_in_all                    59454 non-null float64
p1_o_1st_won_all                   59454 non-null float64
p1_o_2nd_won_all                   59454 non-null float64
p1_o_sv_gms_all                    59454 non-null float64
p1_o_bp_sv_all                     59454 non-null float64
p1_o_bp_fc_all                     59454 non-null float64
p1_minutes_all                     59454 non-null float64
p1_matches_w_stats_all             59454 non-null float64
p1_opponent_rank_all               59454 non-null float64
p1_opponent_elo_rating_all         59454 non-null float64
p1_p_upsets_all                    59454 non-null float64
p1_o_upsets_all                    59454 non-null float64
p1_matches_w_rank_all              59454 non-null float64
p2_player_id_all                   59454 non-null float64
p2_season_all                      59454 non-null float64
p2_surface_all                     59268 non-null object
p2_p_matches_all                   59454 non-null float64
p2_o_matches_all                   59454 non-null float64
p2_p_sets_all                      59454 non-null float64
p2_o_sets_all                      59454 non-null float64
p2_p_games_all                     59454 non-null float64
p2_o_games_all                     59454 non-null float64
p2_p_tbs_all                       59454 non-null float64
p2_o_tbs_all                       59454 non-null float64
p2_p_ace_all                       59454 non-null float64
p2_p_df_all                        59454 non-null float64
p2_p_sv_pt_all                     59454 non-null float64
p2_p_1st_in_all                    59454 non-null float64
p2_p_1st_won_all                   59454 non-null float64
p2_p_2nd_won_all                   59454 non-null float64
p2_p_sv_gms_all                    59454 non-null float64
p2_p_bp_sv_all                     59454 non-null float64
p2_p_bp_fc_all                     59454 non-null float64
p2_o_ace_all                       59454 non-null float64
p2_o_df_all                        59454 non-null float64
p2_o_sv_pt_all                     59454 non-null float64
p2_o_1st_in_all                    59454 non-null float64
p2_o_1st_won_all                   59454 non-null float64
p2_o_2nd_won_all                   59454 non-null float64
p2_o_sv_gms_all                    59454 non-null float64
p2_o_bp_sv_all                     59454 non-null float64
p2_o_bp_fc_all                     59454 non-null float64
p2_minutes_all                     59454 non-null float64
p2_matches_w_stats_all             59454 non-null float64
p2_opponent_rank_all               59454 non-null float64
p2_opponent_elo_rating_all         59454 non-null float64
p2_p_upsets_all                    59454 non-null float64
p2_o_upsets_all                    59454 non-null float64
p2_matches_w_rank_all              59454 non-null float64
p1_beat_p2_overall                 11987 non-null float64
p2_beat_p1_overall                 11987 non-null float64
p1_pct_overall                     11987 non-null float64
p2_pct_overall                     11987 non-null float64
match_win_diff                     11987 non-null float64
rivalry_total                      11987 non-null float64
season_w_ratio                     11987 non-null object
p1_beat_p2_overall_all             22518 non-null float64
p2_beat_p1_overall_all             22518 non-null float64
p1_pct_overall_all                 22518 non-null float64
p2_pct_overall_all                 22518 non-null float64
match_win_diff_all                 22518 non-null float64
rivalry_total_all                  22518 non-null float64
season_w_ratio_all                 22518 non-null object

In [40]:
# all_data[['date','p1_last_name','p2_last_name']]
all_data['lookup'] = all_data['p1_last_name'].apply(lambda x: x.partition(' ')[0])+all_data['p2_last_name'].apply(lambda x: x.partition(' ')[0])+all_data.date.apply(lambda x: str(x))

# all_data['lookup'] = all_data['p1_last_name']+all_data['p2_last_name']+all_data.date.apply(lambda x: str(x))

all_data['lookup'] = all_data['lookup'].apply(lambda x: x[:-3])

In [41]:
# import all the odds information

# path = r'/Users/lukebetham/Documents/DSI_General_Assembly/Capstone Project/Tennis/mens/'                     # use your path
# all_files = glob.glob(os.path.join(path, "*.xls*"))     # advisable to use os.path.join as this makes concatenation OS independent

# df_from_each_file = (pd.read_excel(f) for f in all_files)
# concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [42]:
# concatenated_df= pd.read_csv('/Users/lukebetham/Documents/DSI_General_Assembly/Capstone Project/Tennis/mens/agg.csv')
# concatenated_df.drop('Unnamed: 0',axis=1,inplace=True)

In [43]:
# concatenated_df.columns

In [44]:
# bet_df = concatenated_df.drop(['ATP','Best of','Comment', 'Court', 'L1', 'L2', 'L3', 'L4', 'L5','LPts',
#                                'LRank', 'Location', 'Lsets','Round','Series', 'Surface', 'W1', 'W2', 'W3',
#                                'W4', 'W5', 'WPts','WRank','Wsets','B&WL', 'B&WW','AvgL', 'AvgW','CBL', 'CBW',
#                               'GBL', 'GBW','IWL', 'IWW','MaxL', 'MaxW','SBL', 'SBW', 'SJL', 'SJW','UBL', 'UBW'],axis=1)

In [45]:
# bet_df = bet_df.sort_values('Date').reset_index(drop=True)

In [46]:
# # Getting the average and odds ranges
# bet_df['w_mean'] = bet_df[['B365W','EXW','LBW','PSW']].mean(axis=1,skipna=True)
# bet_df['l_mean'] = bet_df[['B365L','EXL','LBL','PSL']].mean(axis=1,skipna=True)
# bet_df['w_max'] = bet_df[['B365W','EXW','LBW','PSW']].max(axis=1,skipna=True)
# bet_df['l_max'] = bet_df[['B365L','EXL','LBL','PSL']].max(axis=1,skipna=True)
# bet_df['w_min'] = bet_df[['B365W','EXW','LBW','PSW']].min(axis=1,skipna=True)
# bet_df['l_min'] = bet_df[['B365L','EXL','LBL','PSL']].min(axis=1,skipna=True)

# # Dropping rows with no odds
# bet_df.dropna(subset=['w_mean'],inplace=True)
# bet_df.dropna(subset=['l_mean'],inplace=True)

# # converting the odds into probabilites
# bet_df['w_mean_prob'] = 1/bet_df['w_mean']
# bet_df['l_mean_prob'] = 1/bet_df['l_mean']
# bet_df['mean_margin'] = 1-bet_df['w_mean_prob']-bet_df['l_mean_prob']

In [47]:
# bet_df.columns

In [48]:
# bet_df_final = bet_df[['Date','Winner','Loser','Tournament','w_mean', 'l_mean', 'w_max', 'l_max','w_min', 'l_min',
#                        'w_mean_prob', 'l_mean_prob', 'mean_margin']]

In [49]:
# bet_df_final.to_csv('/Users/lukebetham/Documents/DSI_General_Assembly/Capstone Project/Tennis/mens/usable_odds.csv')

In [50]:
bet_df_final = pd.read_csv('/Users/lukebetham/Documents/DSI_General_Assembly/Capstone Project/Tennis/mens/usable_odds.csv')

In [51]:
bet_df_final.drop('Unnamed: 0',axis=1,inplace=True)
bet_df_final['lookup'] = bet_df_final['Winner'].apply(lambda x: x.partition(' ')[0])+bet_df_final['Loser'].apply(lambda x: x.partition(' ')[0])+bet_df_final.Date
bet_df_final['lookup'] = bet_df_final['lookup'].apply(lambda x: x[:-3])

In [52]:
# bet_df_final[bet_df_final.duplicated(subset=['lookup'])].sort_values("Date")

In [53]:
all_data = all_data[~all_data.duplicated(subset=['lookup'])]

In [54]:
len(all_data)

58676

In [55]:
bet_df_final = bet_df_final[~bet_df_final.duplicated(subset=['lookup'])]

In [56]:
# add in the odds file
all_data = all_data.join(bet_df_final.set_index("lookup"),on='lookup')

In [57]:
len(all_data)

58676

In [58]:
all_data.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58676 entries, 0 to 59453
Data columns (total 358 columns):
match_id                           58676 non-null int64
tournament_event_id                58676 non-null int64
match_num                          58676 non-null int64
date                               58676 non-null object
surface                            58491 non-null object
indoor                             58676 non-null bool
round                              58676 non-null object
best_of                            58676 non-null int64
winner_id                          58676 non-null int64
winner_country_id                  58676 non-null object
winner_seed                        24318 non-null float64
winner_entry                       7025 non-null object
winner_rank                        58377 non-null float64
winner_rank_points                 58377 non-null float64
winner_elo_rating                  58676 non-null float64
winner_next_elo_rating             58676 non-null float64
winner_age                         58663 non-null float64
winner_height                      53585 non-null float64
loser_id                           58676 non-null int64
loser_country_id                   58676 non-null object
loser_seed                         13010 non-null float64
loser_entry                        11858 non-null object
loser_rank                         57765 non-null float64
loser_rank_points                  57765 non-null float64
loser_elo_rating                   58676 non-null float64
loser_next_elo_rating              58676 non-null float64
loser_age                          58645 non-null float64
loser_height                       50728 non-null float64
score                              58675 non-null object
outcome                            0 non-null object
w_sets                             58675 non-null float64
l_sets                             58675 non-null float64
w_games                            58675 non-null float64
l_games                            58675 non-null float64
w_tbs                              58675 non-null float64
l_tbs                              58675 non-null float64
has_stats                          58676 non-null bool
p1_combination                     58676 non-null object
p2_combination                     58676 non-null object
p1_first_name                      58676 non-null object
p1_last_name                       58676 non-null object
p1_dob                             58663 non-null object
p1_dod                             108 non-null object
p1_weight                          12059 non-null float64
p1_hand                            58393 non-null object
p1_backhand                        56377 non-null object
p1_active                          58676 non-null bool
p1_turned_pro                      56477 non-null float64
p1_coach                           12452 non-null object
p1_prize_money                     57476 non-null object
p1_nicknames                       10394 non-null object
p2_first_name                      58676 non-null object
p2_last_name                       58676 non-null object
p2_dob                             58645 non-null object
p2_dod                             119 non-null object
p2_weight                          5606 non-null float64
p2_hand                            57846 non-null object
p2_backhand                        54152 non-null object
p2_active                          58676 non-null bool
p2_turned_pro                      54245 non-null float64
p2_coach                           5670 non-null object
p2_prize_money                     55983 non-null object
p2_nicknames                       4244 non-null object
tournament_id                      58676 non-null int64
season                             58676 non-null int64
name                               58676 non-null object
city                               0 non-null object
level                              58676 non-null object
country_id                         0 non-null object
last_season                        58676 non-null object
p1_player_id_x                     53715 non-null float64
p1_season_x                        53715 non-null float64
p1_surface                         53715 non-null object
p1_p_matches                       53715 non-null float64
p1_o_matches                       53715 non-null float64
p1_p_sets                          53715 non-null float64
p1_o_sets                          53715 non-null float64
p1_p_games                         53715 non-null float64
p1_o_games                         53715 non-null float64
p1_p_tbs                           53715 non-null float64
p1_o_tbs                           53715 non-null float64
p1_p_ace                           52414 non-null float64
p1_p_df                            52414 non-null float64
p1_p_sv_pt                         52414 non-null float64
p1_p_1st_in                        52414 non-null float64
p1_p_1st_won                       52414 non-null float64
p1_p_2nd_won                       52414 non-null float64
p1_p_sv_gms                        52414 non-null float64
p1_p_bp_sv                         52414 non-null float64
p1_p_bp_fc                         52414 non-null float64
p1_o_ace                           52414 non-null float64
p1_o_df                            52414 non-null float64
p1_o_sv_pt                         52414 non-null float64
p1_o_1st_in                        52414 non-null float64
p1_o_1st_won                       52414 non-null float64
p1_o_2nd_won                       52414 non-null float64
p1_o_sv_gms                        52414 non-null float64
p1_o_bp_sv                         52414 non-null float64
p1_o_bp_fc                         52414 non-null float64
p1_minutes                         52066 non-null float64
p1_matches_w_stats                 52414 non-null float64
p1_opponent_rank                   53715 non-null float64
p1_opponent_elo_rating             53715 non-null float64
p1_p_upsets                        53715 non-null float64
p1_o_upsets                        53715 non-null float64
p1_matches_w_rank                  53715 non-null float64
p2_player_id_x                     49821 non-null float64
p2_season_x                        49821 non-null float64
p2_surface                         49821 non-null object
p2_p_matches                       49821 non-null float64
p2_o_matches                       49821 non-null float64
p2_p_sets                          49821 non-null float64
p2_o_sets                          49821 non-null float64
p2_p_games                         49821 non-null float64
p2_o_games                         49821 non-null float64
p2_p_tbs                           49821 non-null float64
p2_o_tbs                           49821 non-null float64
p2_p_ace                           48242 non-null float64
p2_p_df                            48242 non-null float64
p2_p_sv_pt                         48242 non-null float64
p2_p_1st_in                        48242 non-null float64
p2_p_1st_won                       48242 non-null float64
p2_p_2nd_won                       48242 non-null float64
p2_p_sv_gms                        48242 non-null float64
p2_p_bp_sv                         48242 non-null float64
p2_p_bp_fc                         48242 non-null float64
p2_o_ace                           48242 non-null float64
p2_o_df                            48242 non-null float64
p2_o_sv_pt                         48242 non-null float64
p2_o_1st_in                        48242 non-null float64
p2_o_1st_won                       48242 non-null float64
p2_o_2nd_won                       48242 non-null float64
p2_o_sv_gms                        48242 non-null float64
p2_o_bp_sv                         48242 non-null float64
p2_o_bp_fc                         48242 non-null float64
p2_minutes                         47863 non-null float64
p2_matches_w_stats                 48242 non-null float64
p2_opponent_rank                   49821 non-null float64
p2_opponent_elo_rating             49821 non-null float64
p2_p_upsets                        49821 non-null float64
p2_o_upsets                        49821 non-null float64
p2_matches_w_rank                  49821 non-null float64
p1_player_id_y                     56478 non-null float64
p1_season_y                        56478 non-null float64
p1_matches_won                     56478 non-null float64
p1_matches_lost                    56478 non-null float64
p1_grand_slam_matches_won          50879 non-null float64
p1_grand_slam_matches_lost         50879 non-null float64
p1_tour_finals_matches_won         7400 non-null float64
p1_tour_finals_matches_lost        7400 non-null float64
p1_alt_finals_matches_won          417 non-null float64
p1_alt_finals_matches_lost         417 non-null float64
p1_masters_matches_won             46347 non-null float64
p1_masters_matches_lost            46347 non-null float64
p1_olympics_matches_won            6820 non-null float64
p1_olympics_matches_lost           6820 non-null float64
p1_atp500_matches_won              48331 non-null float64
p1_atp500_matches_lost             48331 non-null float64
p1_atp250_matches_won              53540 non-null float64
p1_atp250_matches_lost             53540 non-null float64
p1_davis_cup_matches_won           35567 non-null float64
p1_davis_cup_matches_lost          35567 non-null float64
p1_team_cups_matches_won           5447 non-null float64
p1_team_cups_matches_lost          5447 non-null float64
p1_best_of_3_matches_won           55511 non-null float64
p1_best_of_3_matches_lost          55511 non-null float64
p1_best_of_5_matches_won           53469 non-null float64
p1_best_of_5_matches_lost          53469 non-null float64
p1_hard_matches_won                54240 non-null float64
p1_hard_matches_lost               54240 non-null float64
p1_clay_matches_won                51829 non-null float64
p1_clay_matches_lost               51829 non-null float64
p1_grass_matches_won               45634 non-null float64
p1_grass_matches_lost              45634 non-null float64
p1_carpet_matches_won              20351 non-null float64
p1_carpet_matches_lost             20351 non-null float64
p1_outdoor_matches_won             56082 non-null float64
p1_outdoor_matches_lost            56082 non-null float64
p1_indoor_matches_won              48850 non-null float64
p1_indoor_matches_lost             48850 non-null float64
p1_deciding_sets_won               53794 non-null float64
p1_deciding_sets_lost              53794 non-null float64
p1_fifth_sets_won                  41343 non-null float64
p1_fifth_sets_lost                 41343 non-null float64
p1_finals_won                      31798 non-null float64
p1_finals_lost                     31798 non-null float64
p1_vs_no1_won                      22798 non-null float64
p1_vs_no1_lost                     22798 non-null float64
p1_vs_top5_won                     43767 non-null float64
p1_vs_top5_lost                    43767 non-null float64
p1_vs_top10_won                    48476 non-null float64
p1_vs_top10_lost                   48476 non-null float64
p1_after_winning_first_set_won     54685 non-null float64
p1_after_winning_first_set_lost    54685 non-null float64
p1_after_losing_first_set_won      55928 non-null float64
p1_after_losing_first_set_lost     55928 non-null float64
p1_tie_breaks_won                  56478 non-null float64
p1_tie_breaks_lost                 56478 non-null float64
p1_deciding_set_tbs_won            32058 non-null float64
p1_deciding_set_tbs_lost           30409 non-null float64
p2_player_id_y                     54172 non-null float64
p2_season_y                        54172 non-null float64
p2_matches_won                     54172 non-null float64
p2_matches_lost                    54172 non-null float64
p2_grand_slam_matches_won          46048 non-null float64
p2_grand_slam_matches_lost         46048 non-null float64
p2_tour_finals_matches_won         2586 non-null float64
p2_tour_finals_matches_lost        2586 non-null float64
p2_alt_finals_matches_won          258 non-null float64
p2_alt_finals_matches_lost         258 non-null float64
p2_masters_matches_won             38921 non-null float64
p2_masters_matches_lost            38921 non-null float64
p2_olympics_matches_won            5230 non-null float64
p2_olympics_matches_lost           5230 non-null float64
p2_atp500_matches_won              43084 non-null float64
p2_atp500_matches_lost             43084 non-null float64
p2_atp250_matches_won              50483 non-null float64
p2_atp250_matches_lost             50483 non-null float64
p2_davis_cup_matches_won           30199 non-null float64
p2_davis_cup_matches_lost          30199 non-null float64
p2_team_cups_matches_won           4014 non-null float64
p2_team_cups_matches_lost          4014 non-null float64
p2_best_of_3_matches_won           52873 non-null float64
p2_best_of_3_matches_lost          52873 non-null float64
p2_best_of_5_matches_won           49342 non-null float64
p2_best_of_5_matches_lost          49342 non-null float64
p2_hard_matches_won                50634 non-null float64
p2_hard_matches_lost               50634 non-null float64
p2_clay_matches_won                47446 non-null float64
p2_clay_matches_lost               47446 non-null float64
p2_grass_matches_won               40104 non-null float64
p2_grass_matches_lost              40104 non-null float64
p2_carpet_matches_won              17418 non-null float64
p2_carpet_matches_lost             17418 non-null float64
p2_outdoor_matches_won             53542 non-null float64
p2_outdoor_matches_lost            53542 non-null float64
p2_indoor_matches_won              43669 non-null float64
p2_indoor_matches_lost             43669 non-null float64
p2_deciding_sets_won               50014 non-null float64
p2_deciding_sets_lost              50014 non-null float64
p2_fifth_sets_won                  34594 non-null float64
p2_fifth_sets_lost                 34594 non-null float64
p2_finals_won                      22262 non-null float64
p2_finals_lost                     22262 non-null float64
p2_vs_no1_won                      16055 non-null float64
p2_vs_no1_lost                     16055 non-null float64
p2_vs_top5_won                     36065 non-null float64
p2_vs_top5_lost                    36065 non-null float64
p2_vs_top10_won                    42185 non-null float64
p2_vs_top10_lost                   42185 non-null float64
p2_after_winning_first_set_won     51073 non-null float64
p2_after_winning_first_set_lost    51073 non-null float64
p2_after_losing_first_set_won      53328 non-null float64
p2_after_losing_first_set_lost     53328 non-null float64
p2_tie_breaks_won                  54172 non-null float64
p2_tie_breaks_lost                 54172 non-null float64
p2_deciding_set_tbs_won            25742 non-null float64
p2_deciding_set_tbs_lost           25328 non-null float64
p1_player_id_all                   58676 non-null float64
p1_season_all                      58676 non-null float64
p1_surface_all                     58491 non-null object
p1_p_matches_all                   58676 non-null float64
p1_o_matches_all                   58676 non-null float64
p1_p_sets_all                      58676 non-null float64
p1_o_sets_all                      58676 non-null float64
p1_p_games_all                     58676 non-null float64
p1_o_games_all                     58676 non-null float64
p1_p_tbs_all                       58676 non-null float64
p1_o_tbs_all                       58676 non-null float64
p1_p_ace_all                       58676 non-null float64
p1_p_df_all                        58676 non-null float64
p1_p_sv_pt_all                     58676 non-null float64
p1_p_1st_in_all                    58676 non-null float64
p1_p_1st_won_all                   58676 non-null float64
p1_p_2nd_won_all                   58676 non-null float64
p1_p_sv_gms_all                    58676 non-null float64
p1_p_bp_sv_all                     58676 non-null float64
p1_p_bp_fc_all                     58676 non-null float64
p1_o_ace_all                       58676 non-null float64
p1_o_df_all                        58676 non-null float64
p1_o_sv_pt_all                     58676 non-null float64
p1_o_1st_in_all                    58676 non-null float64
p1_o_1st_won_all                   58676 non-null float64
p1_o_2nd_won_all                   58676 non-null float64
p1_o_sv_gms_all                    58676 non-null float64
p1_o_bp_sv_all                     58676 non-null float64
p1_o_bp_fc_all                     58676 non-null float64
p1_minutes_all                     58676 non-null float64
p1_matches_w_stats_all             58676 non-null float64
p1_opponent_rank_all               58676 non-null float64
p1_opponent_elo_rating_all         58676 non-null float64
p1_p_upsets_all                    58676 non-null float64
p1_o_upsets_all                    58676 non-null float64
p1_matches_w_rank_all              58676 non-null float64
p2_player_id_all                   58676 non-null float64
p2_season_all                      58676 non-null float64
p2_surface_all                     58491 non-null object
p2_p_matches_all                   58676 non-null float64
p2_o_matches_all                   58676 non-null float64
p2_p_sets_all                      58676 non-null float64
p2_o_sets_all                      58676 non-null float64
p2_p_games_all                     58676 non-null float64
p2_o_games_all                     58676 non-null float64
p2_p_tbs_all                       58676 non-null float64
p2_o_tbs_all                       58676 non-null float64
p2_p_ace_all                       58676 non-null float64
p2_p_df_all                        58676 non-null float64
p2_p_sv_pt_all                     58676 non-null float64
p2_p_1st_in_all                    58676 non-null float64
p2_p_1st_won_all                   58676 non-null float64
p2_p_2nd_won_all                   58676 non-null float64
p2_p_sv_gms_all                    58676 non-null float64
p2_p_bp_sv_all                     58676 non-null float64
p2_p_bp_fc_all                     58676 non-null float64
p2_o_ace_all                       58676 non-null float64
p2_o_df_all                        58676 non-null float64
p2_o_sv_pt_all                     58676 non-null float64
p2_o_1st_in_all                    58676 non-null float64
p2_o_1st_won_all                   58676 non-null float64
p2_o_2nd_won_all                   58676 non-null float64
p2_o_sv_gms_all                    58676 non-null float64
p2_o_bp_sv_all                     58676 non-null float64
p2_o_bp_fc_all                     58676 non-null float64
p2_minutes_all                     58676 non-null float64
p2_matches_w_stats_all             58676 non-null float64
p2_opponent_rank_all               58676 non-null float64
p2_opponent_elo_rating_all         58676 non-null float64
p2_p_upsets_all                    58676 non-null float64
p2_o_upsets_all                    58676 non-null float64
p2_matches_w_rank_all              58676 non-null float64
p1_beat_p2_overall                 11722 non-null float64
p2_beat_p1_overall                 11722 non-null float64
p1_pct_overall                     11722 non-null float64
p2_pct_overall                     11722 non-null float64
match_win_diff                     11722 non-null float64
rivalry_total                      11722 non-null float64
season_w_ratio                     11722 non-null object
p1_beat_p2_overall_all             22090 non-null float64
p2_beat_p1_overall_all             22090 non-null float64
p1_pct_overall_all                 22090 non-null float64
p2_pct_overall_all                 22090 non-null float64
match_win_diff_all                 22090 non-null float64
rivalry_total_all                  22090 non-null float64
season_w_ratio_all                 22090 non-null object

In [59]:
all_data.to_csv('/Users/lukebetham/Documents/DSI_General_Assembly/Capstone Project/Tennis/all_matches_all_data_2000.csv',index=False)

In [60]:
all_data

,match_id,tournament_event_id,match_num,date,surface,indoor,round,best_of,winner_id,winner_country_id,...,Tournament,w_mean,l_mean,w_max,l_max,w_min,l_min,w_mean_prob,l_mean_prob,mean_margin
0,110583,2698,25,2000-02-07,H,False,QF,3,3017,GER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110584,2698,26,2000-02-07,H,False,QF,3,2610,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110585,2698,27,2000-02-07,H,False,QF,3,3507,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110586,2698,28,2000-02-07,H,False,QF,3,2223,MAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110587,2698,29,2000-02-07,H,False,SF,3,3017,GER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59449,174488,4176,82,2020-01-03,H,False,SF,3,4742,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59450,174489,4176,83,2020-01-03,H,False,SF,3,5571,SRB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59451,174490,4176,84,2020-01-03,H,False,SF,3,4920,SRB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59452,174491,4176,85,2020-01-03,H,False,F,3,5131,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59453,174492,4176,86,2020-01-03,H,False,F,3,4920,SRB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN